<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="javascript.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio Basico</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <img src="https://via.placeholder.com/150" alt="Avatar" />
        <h1>Nombre </h1>
        <p>Web Developer</p>
      </header>
      <nav>
        <ul>
          <li><a href="#about">Sobre mi</a></li>
          <li><a href="#projects">Proyectos</a></li>
          <li><a href="#contact">Contactos</a></li>
        </ul>
      </nav>
      <main>
        <section id="about">
          <h2>Sobre mi</h2>
          <p>Lorem orem ipsum dolor sit amet, consectetur adipiscing elit </p>
        </section>
        <section id="projects">
          <h2>Mis proyectos</h2>
          <div class="project-list">
            <div class="project">
              <h3>Proyecto 1</h3>
              <p>Lorem orem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="project">
              <h3>Proyecto 2</h3>
              <p>Lorem orem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
          </div>
        </section>
        <section id="contact">
          <h2>Contacto</h2>
          <form id="contact-form">
            <input type="text" id="name" placeholder="Tu nombre" required>
            <input type="email" id="email" placeholder="Tu Email" required>
            <textarea id="message" placeholder="Tu mensaje" required></textarea>
            <button type="submit">Enviar mensaje</button>
          </form>
        </section>
      </main>
      <footer>
      </footer>
    </div>
    <script src="./main.js"></script>
  </body>
</html>